[Unit]
Description=Ubiquiti UniFi server
After=local-fs.target remote-fs.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=unifi
WorkingDirectory=/usr/lib64/unifi
ExecStart=/usr/lib/jvm/jre-1.8.0/bin/java -jar /usr/lib64/unifi/lib/ace.jar start
ExecStop=/usr/lib/jvm/jre-1.8.0/bin/java -jar /usr/lib64/unifi/lib/ace.jar stop
Restart=on-success

[Install]
WantedBy=multi-user.target
